<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/json" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" th:href="@{/css/carlist.css}" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">FMP</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="carlist.html" th:href="@{/cars}">View Fleet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="newcar_form.html" th:href="@{/newcar}">Add Vehicle</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Availability <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="carlist.html" th:href="@{/cars/available}">Available</a>
                        <a class="dropdown-item" href="carlist.html" th:href="@{/cars/notavailable}">Not-Available</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Services <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="carlist.html" th:href="@{/cars/outdatedservice}">Expired</a>
                        <a class="dropdown-item" href="carlist.html" th:href="@{/cars/pendingservice}">Pending</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dispatched <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="carlist.html" th:href="@{/cars/dispatched}">Dispatched</a>
                        <a class="dropdown-item" href="#">Pending</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>
<script
        th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>

<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
