<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/json" charset="UTF-8">
    <link type="text/css" th:href="@{/css/carform.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Oops</title>
</head>
<!-- START HEADER -->
<div th:insert="fragments/header :: header">...</div>
<!-- END HEADER -->
<body>
    <div class="header text-center">
        <h4>Error Processing Request</h4>
        <h4><span th:text="${exception.message}"></span></h4>
    </div>
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
